html,
body {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    font-family: 'ARIAL';
}

body {
    background-color: #161920;

}

#form {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 18%;
    width: 60%;
    height: 50%;
    background-color: black;
    color: #FEFEE8;
    z-index: 4;
    box-shadow: 15px 15px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-weight: bold;
    overflow: auto;
}

#form2 {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    width: 60%;
    height: 80%;
    background-color: black;
    color: #FEFEE8;
    z-index: 4;
    box-shadow: 15px 15px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-weight: bold;
    overflow: auto;
}
#form3 {
    position : fixed;
    margin-left : 20%;
    top: 15%;
    width: 60%;
    height: 80%;
    background-color: black;
    color: #FEFEE8;
    z-index: 5;
    box-shadow: 15px 15px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-weight: bold;
    overflow: auto;
    display: none;
}
#form4 {
    position : fixed;
    margin-left : 20%;
    top: 15%;
    width: 60%;
    height: 80%;
    background-color: black;
    color: #FEFEE8;
    z-index: 5;
    box-shadow: 15px 15px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-weight: bold;
    overflow: auto;
    display: none;
}
#champs3 {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    font-size: 2.4rem;
}
#champs2 {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    font-size: 2.4rem;
}
#champs {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    font-size: 2.4rem;
}
.retour,
.retour:visited {
    text-align: right;
    margin-left: 92%;
    font-size: 3rem;
    color: #FEFEE8;
    text-decoration: none;
    cursor: pointer;
}

.input_connexion {
    background-color: #FEFEE8;
    border: none;
    width: 100%;
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
    padding-top: 1%;
    padding-bottom: 1%;
}

.ligne_form {
    width: 100%;
    display: inline-block;
    margin-top: 4%;
}

.input_form {
    background-color: #FEFEE8;
    border: none;
    width: 40%;
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-right: 0;
    margin-top: 1%;
    position: absolute;
    display: inline-block;
}

.titre_input {
    margin-bottom: 0;
    margin-top: 0;
    float: left;
    width: 50%;
    margin-top: 6px;
}

header {
    z-index: 5;
    display: block;
    width: 100%;
    height: 4rem;
    background-color: #D72E2B;
    margin-top: 0;
    padding-top: 0;
}

#logo {
    width: 100px;
    padding-top: 0;
    margin-top: 0;
    padding-left: 10px;
    z-index: 5;
}

#bouton_submit {
    width: 100%;
    margin-top: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 2rem;
    background-color: #D72E2B;
    color: #FEFEE8;
}

#bouton_ajouter {
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 2rem;
    font-weight: bold;
    background-color: #FEFEE8;
    border: none;
    color: black;
    /* position : absolute;
    display : block;*/

}

.tab_tr_heure, .tab_heure{
    background-color: black;
    border: 1px solid #FEFEE8;
    border-collapse: collapse;  
}

#header_texte {
    color: white;
    margin-top: 0;
    padding-top: 0;
    font-weight: bold;
    padding-left: 15px;
    font-size: 1.1rem;
}
.lieu {
    color: #FEFEE8;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-style: normal;
    font-weight: 600;
    font-size: 2.5rem;
    width: 100%;
    border-bottom: 5px solid #FEFEE8;
    text-decoration: none;
}

.edition {
    color: #FEFEE8;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-style: normal;
    font-weight: 800;
    font-size: 5rem;
    width: 80%;
    border-bottom: 5px solid #FEFEE8;
    text-decoration: none;
}



#titre_contours {
    z-index: 3;
    position: absolute;
    margin-top: 0;
    padding-top: 0;
    text-align: center;
    font-style: normal;
    font-weight: 800;
    font-size: 7.5rem;
    display: block;
    -webkit-text-stroke: 2px #D72E2B;
    color: #161920;
    letter-spacing: 0.05em;
    width: 100%;
}

#titre_main {
    z-index: 4;
    position: absolute;
    margin-top: 0;
    text-align: center;
    color: #FEFEE8;
    font-weight: 800;
    font-size: 7rem;
    width: 100%;
    margin-top: 5%;
}

#mdp_oublie {
    color: #FEFEE8;
    position: relative;
    display: block;
    font-size: 1.5rem;
    text-align: center;
    font-style: italic;
    font-weight: 300;
    padding-top: 0.5rem;
}

#mauvais_mdp {
    color: #FEFEE8;
    position: absolute;
    display: block;
}


.dot {
    background-color: white;
    border-radius: 50%;
    z-index: 0;
    position: absolute;
    display: block;
}

#dot1 {
    margin-left: 10%;
    margin-top: 23%;
    height: 2px;
    width: 2px;
}

#dot2 {
    margin-left: 23%;
    margin-top: 13%;
    height: 2px;
    width: 2px;
}

#dot3 {
    margin-left: 92%;
    margin-top: 35%;
    height: 3px;
    width: 3px;
}

#dot4 {
    margin-left: 8%;
    margin-top: 47%;
    height: 3px;
    width: 3px;
}

#dot5 {
    margin-left: 66%;
    margin-top: 6%;
    height: 4px;
    width: 4px;
}

#dot6 {
    margin-left: 90%;
    margin-top: 43%;
    height: 3px;
    width: 3px;
}

#dot7 {
    margin-left: 72%;
    margin-top: 33%;
    height: 3px;
    width: 3px;
}

#dot8 {
    margin-left: 82%;
    margin-top: 24%;
    height: 2px;
    width: 2px;
}

#dot9 {
    margin-left: 12%;
    margin-top: 13%;
    height: 3px;
    width: 3px;
}

#dot10 {
    margin-left: 8%;
    margin-top: 20%;
    height: 2px;
    width: 2px;
}

#planete {
    position: absolute;
    display: block;
    z-index: 0;
    margin-left: 10%;
    margin-top: 43%;
    width: 40px;
    animation: 3s ease 1s infinite alternate slidein;

}

#soleil {
    position: absolute;
    display: block;
    z-index: 0;
    margin-left: 87%;
    margin-top: 21%;
    width: 70px;
}